body {
    background: wheat;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
  }
  h1,
  h2,
  p,
  a{
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: #cdcdcd;
  }
 .container-form,.courses-list {
    background-color: white;
    width: 300px;
    padding: 50px;
    margin: 0 auto;
    display:inline-block; 
 }
 .courses-list p{
    color: black;
 }
 .form-group{
     text-align: left;
 }
 .btn-primary{
     background-color: wheat;
     color: black;
     border-color: whitesmoke;
 }
.btn-primary:hover{
    background-color: whitesmoke;
    color:black;
    border-color:wheat;
}

nav {
    border: 1px solid rgba(129, 110, 2, 0.966);
    margin-bottom: 30px;
}
a{
    margin-right: 5px;
    text-decoration: none;
    color: black; 
    display: inline;
}
.signup {
    border: 1px solid wheat;
    background-color: wheat;
}
ul {
    list-style: none;
}